$bg: #1d2021;
$fg: #ebdbb2;

$bg0: #282828;
$bg1: #3c3836;
$bg2: #504945;
$bg3: #665c54;
$bg4: #7c6f64;

$fg0: #fbf1c7;
$fg1: #ebdbb2;
$fg2: #d5c4a1;
$fg3: #bdae93;
$fg4: #a89984;

$red: #cc241d;
$redLight: #fb4934;
$redDark: #9d0006;

$green: #98971a;
$greenLight: #b8bb26;
$greenDark: #79740e;

$yellow: #d79921;
$yellowLight: #fabd2f;
$yellowDark: #b57614;

$blue: #458588;
$blueLight: #83a598;
$blueDark: #076678;

$purple: #b16286;
$purpleLight: #d3869b;
$purpleDark: #8f3f71;

$aqua: #689d6a;
$aquaLight: #8ec07c;
$aquaDark: #427b58;

$orange: #d65d0e;
$orangeLight: #fe9019;
$orangeDark: #af3a03;

